
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BloggieMvc.Models.ViewModels.EditTagRequest

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Edit Tags * Admin Functionality</h1>
    </div>
</div>
<div class="container py-5">
    @if(Model != null)
    {
        <form method="post">
            <div class="mb-3">
                <label class="form-label">Id</label>
                <input class="form-control" type="text" asp-for="@Model.Id" readonly />
            </div>
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input class="form-control" type="text" asp-for="@Model.Name" />
            </div>
            <div class="mb-3">
                <label class="form-label">Display Name</label>
                <input class="form-control" type="text" asp-for="@Model.DisplayName" />
            </div>
            <div class="mb-3">
                <button class="btn btn-danger" type="submit" asp-area="" asp-controller="AdminTags" asp-action="Delete">Delete</button>
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    }
    else
    {
        <p>Tag is not found..</p>
    }

</div>
